<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de gossip, depuis le dossier views !</h1>
    <h2> bienvenue la liste des potins arrive bientôt en attendant tu peux : <a href="/gossips/new/">aller créer un nouveau potin</a> </h2>
  </body>
</html>