<html>
<head>
	<titre>Page Potin</titre>
</head>
<body>
	<p>Voici la page du potin numéro <%= id %></p>
	<p>Son auteur: <%= gossip.author %></p>
	<p>	Le contenu du potin : <%= gossip.content %></p>
	<a href="/gossips/<%=id%>/edit/">Éditer le potin</a></br>
	<a href="/">Lien vers la page de tous les potins</a>
</body>
</html>